<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs Todo App </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="container  rounded-lg mt-5">
            <h1 class="titleName">Todos List</h1>
            <div class="card">
                <div class="row">
                    <div class="col">
                        <input type="text" size="75" placeholder="New Todo........... " v-model="newTodo " @keypress.enter="addTodo(newTodo) ">
                        <button type="button" class="btn-info" @click="addTodo(newTodo) ">Add</button>
                        <button type="button" class="btn-danger" @click="cancelTodo() ">Cancel </button>
                    </div>
                </div>
            </div>
            <template v-if="todos.length==0 ">
                <div class="card addItems">
                    <h3>No Todos</h3>
                </div>

            </template>
            <template v-else>
                <div class="card addItems" v-for="(todo,index) in todos " :key="index ">
                    <div class="row ">
                        <div class="col-md-10">
                            <input type="checkbox" name="checkbox" id="my-checkbox">
                            <label for="my-checkbox">
                                <h3>{{ todo }}</h3>
                            </label>
                        </div>
                        <div class="col-md-2 ">
                            <div class="btnRemove ">
                                <button @click="removeTodo(index) ">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <button class="btn-danger" @click="clearAll() ">
                        Clear All
                    </button>
                </div>
            </template>
        </div>
    </div>

    <script src="style.js "></script>

</body>

</html>