.container {
    background-color: greenyellow;
    padding-bottom: 10px;
}

.titleName {
    text-align: center;
    margin: 20px;
    padding: 40px;
}

.btnRemove {
    color: #EF5753;
    transition-duration: .5s;
    margin: 30px 20px;
}

.btnRemove :hover {
    transition-duration: .5s;
    color: red;
    transform: rotate(90deg);
    font-size: 2rem;
    cursor: pointer;
}

.card {
    padding: 20px;
    margin: 20px;
}

.addItems {
    margin: 20px;
    padding: 5px;
}

.addItems:hover {
    background-color: palevioletred;
}

input:checked+label {
    color: red;
    text-decoration: line-through;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 30px 20px;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px hotpink;
}